@font-face {
    font-family: 'Krungthep';
    src: url('Fonts/Krungthep.eot');
    src: url('Fonts/Krungthep.woff2') format('woff2'), url('Fonts/Krungthep.woff') format('woff'), url('Fonts/Krungthep.ttf') format('truetype'), url('Fonts/Krungthep.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('Fonts/OpenSans-Bold.eot');
    src: url('Fonts/OpenSans-Bold.woff2') format('woff2'), url('Fonts/OpenSans-Bold.woff') format('woff'), url('Fonts/OpenSans-Bold.ttf') format('truetype'), url('Fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('Fonts/OpenSans-SemiBold.eot');
    src: url('Fonts/OpenSans-SemiBold.woff2') format('woff2'), url('Fonts/OpenSans-SemiBold.woff') format('woff'), url('Fonts/OpenSans-SemiBold.ttf') format('truetype'), url('Fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(circle, #1a7a31, #146929);
    font-family: OpenSans-Bold;
    height: inherit;
    display: flex;
}

.start-page,
.game,
.result-page {
    display: none;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
    max-width: 900px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.is-displayed {
    display: flex;
}

.start-picture, 
.result-picture {
    display: flex;
	max-width: 503px;
	height: 100%;
}

.memory-game, 
.congratulation {
	display: flex;
    opacity: 0.85;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: 0.2px;
}

.button-start, 
.button-again {
    display: flex;
	padding: 10px 20px;
	border-width: 0;
	border-radius: 4px;
	opacity: 0.85;
	background: #FFFFFF;
	font-family: inherit;
	font-weight: inherit;
	font-size: 16px;
	color: #1C7430;
	letter-spacing: 0;
}

.game-menu {
    display: flex;
    width: 100%;
}

.button-restart,
.score,
.score-value {
    margin: 0;
    padding: 0;
    background-color: inherit;
    border: none;
    color: #FFFFFF;
    opacity: 0.8;
    font-size: 14px;
}

.button-restart {
    text-align: left;
    font-family: OpenSans-SemiBold;
    letter-spacing: 0;
}

.score {
    margin: 0 10px 0 auto;
    text-align: right;
}

.score-value {
    text-align: right;
    font-family: Krungthep;
}

.game-table ul{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0;
}

.card {
    display: flex;
    width: calc(100%/6 - 20px);
    margin: 10px;
}

.card img {
    width: 100%;
    height: 100%;
}

.card-back .back {
    display: block;
}

.card-back .face {
    display: none;
}

.card-face .face {
    display: block;
}

.card-face .back {
    display: none;
}